<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>新規コミュニティの申請がありました。</h3>
    <p>From: ID<%= @id %></p>
    <p>タイトル: <%= @title %></p>
    <p>概要: <%= @body %></p>
    <p>内容を確認して、申請を許可してください。</p>
  </body>
</html>
