<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>ユーザから証明書の提出がありました。</h3>
    <p>From: <%= @email %> (ユーザID:<%= @id %>)</p>
    <img src="<%= @image %>" alt="image" />
    <p><%= @image %></p>
    <p>証明書を確認して、機能を解放してください。</p>
  </body>
</html>
